 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
 }
#login{
    text-align: center;
    size: 5px;
    font-size: 20px;
    color: white;
    
}
#mobile{    
    align-self: center; 
    border-radius: 5px;     
    padding: auto;
    border-spacing: 5px;
    margin: 0 auto;
    display: block;
    border: 2px grey solid;
    height: 30px;
    width: 200px;
    margin-top:10px;
    margin-bottom:5px;
}
#otp{    
    align-self: center; 
    border-radius: 5px;     
    padding: auto;
    border-spacing: 5px;
    margin: 0 auto;
    display: block;
    border: 2px grey solid;
    height: 30px;
    width: 200px;
    margin-top:10px;
    margin-bottom:5px;
}
#savee{
    display: block;
    border-spacing: 56px;
    text-align: center; 
    border-radius: 5px;
    padding: auto;
    margin: 0 auto;
    display: block;
    height: 25px;
    width: 50px;
    margin-top:10px;
    margin-bottom:5px;

}